@charset "utf-8";

body {
    color: #191919;
    font: 16px/1.5 "Noto Sans KR", "Maven Pro", sans-serif;
  }
  a, a:link {
    text-decoration: none;
    color: inherit;
  }
  li {
    list-style: none;
  }
  .container-fluid {
      padding: 0;
  }
  #main {
    margin-top: 80px;
  }
  #gnb {
    display: flex;
    justify-content: space-between;
  }
  .bx-wrapper {
      border: none;
  }
  .blind {
      display: none;
  }
  .slider-wrap {
    position: absolute;
    width: 100%;
    top: 0;
  }
  .h-600 {
    height: 600px;
  }
  h4 i {
    margin-right: 10px;
    font-size: 30px;
  }
  #reviewer {
    width: 40px;
    height: 40px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  @media screen and (min-width: 768px) and (max-width: 992px) {
    .h-600 {
      height: 400px;
      background: lime;
    }
  }